In [1]:
import pandas as pd

In [3]:
dataFrame = pd.read_excel("muyux.xlsx")

In [5]:
dataFrame

  Unnamed: 0  Maas   Yas Departman
0      Celal   100  40.0   Yazilim
1      Ceren   200  50.0    Doktor
2      Deniz   150  30.0    Doktor
3      Yunus    90  10.0       NaN
4       Sabo   170   NaN       Ceo
5        Efe    90  25.0    Finans
6       Enes   180  30.0     Hukuk

In [6]:
doluDegerlerDataFrame = dataFrame.dropna()

In [7]:
doluDegerlerDataFrame

  Unnamed: 0  Maas   Yas Departman
0      Celal   100  40.0   Yazilim
1      Ceren   200  50.0    Doktor
2      Deniz   150  30.0    Doktor
5        Efe    90  25.0    Finans
6       Enes   180  30.0     Hukuk

In [8]:
doluDegerlerDataFrame.to_excel("yenimuyux.xlsx")

In [9]:
## read_csv
## to_csv